<html>
    <style type="text/css">
        .sidenav {
            position: fixed;
            background-color:firebrick;
            height: 100%;
        }
        .information {
            padding-left: 100px
        }
    </style>
     <div class="sidenav"> 
        <a href="index.html">1- Homepage</a><br><br>
        <a href="books.html">2- Books</a><br><br>
        <a href="contact.html">3- Contact Us</a><br><br>
        <a href="survey.html">4- Suvery</a><br><br>
        <a href="honesty.html">5- Honesty</a><br><br>
    </div> 
    <body style="background-color:beige">
            <div class="information">
            <h1>
            Book: The 7 Habits of Highly Effective People
            </h1>
            <img src="/public/images/7habits.jpg"style="float:left;width:300px;height:400px;"></a><br>
            <p>
                <b>Author</b>: Stephen R. Covey<br>
                <b>Publisher</b>: Free Press<br>
                <b>Published Date:</b> 1989 <br><br>
                <b>Habit 1:</b> Be Proactive<br>
                <b>Habit 2:</b> Begin With The End In Mind<br>
                <b>Habit 3:</b> Put First Things First<br>
                <b>Habit 4:</b> Think Win-Win<br> 
                <b>Habit 5:</b> Seek First to Understand and Then To Be Understood<br>
                <b>Habit 6:</b> Synergize<br>
                <b>Habit 7:</b> Sharpen the Saw<br>
            </p>
            </div>
            
            
    </body>
</html>