<html>
    <style type="text/css">
        .sidenav {
            position: fixed;
            background-color:firebrick;
            height: 100%;
        }
        .information {
            padding-left: 100px
        }
    </style>
    <div class="sidenav"> 
        <a href="index.html">1- Homepage</a><br><br>
        <a href="books.html">2- Books</a><br><br>
        <a href="contact.html">3- Contact Us</a><br><br>
        <a href="survey.html">4- Suvery</a><br><br>
        <a href="honesty.html">5- Honesty</a><br><br>
    </div>
    <body style="background-color:dodgerblue">
        <div class="information">
            <h1>
            Contact Us
            </h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2879.968536450381!2d-79.69924427069598!3d43.794265912321364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b22d8820132e1%3A0xeb80cc4f1448cb7a!2sGore%20Meadows%20Community%20Centre%20%26%20Library!5e0!3m2!1sen!2sca!4v1663859208023!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br>
            <p>
                <b>Gore Meadows Library</b><br>
                10150 The Gore Rd<br>
                Brampton,ON <br>
                L6P 0A6<br>
                Phone Number: (905) 874-3477<br>
                <b>Hours:</b><br>
                Monday- Friday: 6:30a.m.-10:30pm<br>
                Saturday: 6:30a.m.-8:00pm<br>
                Sunday: 6:30a.m.-8:00pm
            </p>
        </div>
    </body>
</html>