<html>
    <head>
        <style type="text/css">
            .sidenav {
                position: fixed;
                background-color:blanchedalmond;
                height: 100%;
            }
            .information {
                padding-left: 100px
            }
        </style>
        <div class="sidenav"> 
            <a href="homepage.html">1- Homepage</a><br><br>
            <a href="books.html">2- Books</a><br><br>
            <a href="contact.html">3- Contact Us</a><br><br>
            <a href="survey.html">4- Suvery</a><br><br>
            <a href="honesty.html">5- Honesty</a><br><br>
        </div>  
    </head> 
    <body style="background-color:deepskyblue">
            <h1 class="information">
           Prabhjot Singh
            </h1>
            <p class="information">
                <b>Lab #1- WAS500NAA</b><br><br>
                <b>This Project will consist of a:</b><br>
                - Homepage<br>
                - Books List Page<br>
                - Books Details Page<br>
                - Contact us Page <br>
                - Survey Page <br>

            </p>
    </body>
</html>