<html>
    <style type="text/css">
        .sidenav {
            position: fixed;
            background-color:firebrick;
            height: 100%;
        }
        .information {
            padding-left: 100px
        }
    </style>
    <div class="sidenav"> 
        <a href="index.html">1- Homepage</a><br><br>
        <a href="books.html">2- Books</a><br><br>
        <a href="contact.html">3- Contact Us</a><br><br>
        <a href="survey.html">4- Suvery</a><br><br>
        <a href="honesty.html">5- Honesty</a><br><br>
    </div>

    <body style="background-color: antiquewhite;">
        <div class="information">
            <h1>
            The Power of Positive Thinking
            </h1>
            <img src="/public/images/thepowerofpositive.jpg"style="float:left;width:300px;height:400px;"></a>
            <p>
                <b>Author:</b> Norman Vincent Peale <br>
                <b>Publisher Name:</b> Prentice Hall <br>
                <b>Publication date:</b> 1952 <br>
                <b>Published in:</b> United States (US) <br>
                <b>Made it to:</b> New York Times Best Sellers List <br>
            </p>
        </div>
            
            
    </body>
</html>